{% extends 'base.html.twig' %}

{% block title %}Topic index{% endblock %}

{% block body %}
    <h1>Topic index</h1>

    <table class="table">
        <thead>
            <tr>
                <th>Id</th>
                <th>Titre</th>
                <th>Texte</th>
                <th>Date_creation</th>
                <th>Date_maj</th>
                <th>actions</th>
            </tr>
        </thead>
        <tbody>
        {% for topic in topics %}
            <tr>
                <td>{{ topic.id }}</td>
                <td>{{ topic.titre }}</td>
                <td>{{ topic.texte }}</td>
                <td>{{ topic.dateCreation ? topic.dateCreation|date('Y-m-d') : '' }}</td>
                <td>{{ topic.dateMaj ? topic.dateMaj|date('Y-m-d') : '' }}</td>
                <td>
                    <a href="{{ path('app_topic_show', {'id': topic.id}) }}">show</a>
                    <a href="{{ path('app_topic_edit', {'id': topic.id}) }}">edit</a>
                </td>
            </tr>
        {% else %}
            <tr>
                <td colspan="6">no records found</td>
            </tr>
        {% endfor %}
        </tbody>
    </table>

    <a href="{{ path('app_topic_new') }}">Create new</a>
{% endblock %}
